.string-normal{
  line-height: 2
}
.string-narrow{
  line-height: 1.5
}

.string-title{
  font-size: 4rem;
  @media screen and (max-width: 480px){
    font-size: 3rem;
  }
}
.string-xxl{
  font-size: 3.5rem;
  @media screen and (max-width: 480px){
    font-size: 2.6rem;
  }
}
.string-xl{
  font-size: 3rem;
  @media screen and (max-width: 480px){
    font-size: 2.4rem;
  }
}
.string-l{
  font-size: 2.3rem;
  @media screen and (max-width: 480px){
    font-size: 1.9rem;
  }
}
.string-m{
  font-size: 1.8rem;
  @media screen and (max-width: 480px){
    font-size: 1.7rem;
  }
}
.string-r{
  font-size: 1.6rem;
  @media screen and (max-width: 480px){
    font-size: 1.5rem;
  }
}
.string-s{
  font-size: 1.5rem;
  @media screen and (max-width: 480px){
    font-size: 1.4rem;
  }
}
.string-xs{
  font-size: 1rem;
  @media screen and (max-width: 480px){
    font-size: .8rem;
  }
}
.string-bold{
  font-weight: bold;
}
.string-heavy{
  font-weight: 900;
}
.string-lighter{
  font-weight: lighter;
}
.section-title{
  margin: 8vh auto 4vh;
  @media screen and (max-width: 480px){
    margin: 5vh auto 3vh;
  }
}

